# Virtual environment
venv/
env/

# Environment variables
.env
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Build files
dist/
build/

# OS specific files
.DS_Store
Thumbs.db

# Streamlit cache (if any)
.streamlit/
